body {
    background-color: #cceff0;
    box-sizing: border-box;
}

.main-section {
    width: 50%;
    margin: auto;
    background-image: url('../img/tetr.jpg');
    padding: 20px;
    border-radius: 5px;
}

img {
    width: 30px;
    cursor: pointer;
}

.add-note {
    display: flex;
    justify-content: space-around;
}

.todo-name-change {
    margin: 5px;
}

.note-name-input {
    margin-top: 30px auto;
    text-align: center;
}

.images {
    display: flex;
    justify-content: space-between;
}

.note-name {
    text-transform: uppercase;
    font-weight: bold;
}

.remove-todo {
    width: 15px;
    margin: -3px;
}

.add-note-button {
    width: 30px;
    cursor: pointer;
    margin: 10px;
}

.add-new-todo {
    display: flex;
    justify-content: space-around;
}

.add-new-todo-button {
    width: 25px;
    cursor: pointer;
}

.notes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.note {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 40%;
    margin: 20px;
    background-color: #cceff0;
}

.change-note {
    width: 70%;
}

.edit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #cceff0;
    text-align: center;
}

.todo-li {
    margin-left: 50px;
}

.edit li {
    list-style: none;
}

.edit-buttons {
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.dialog-window button {
    margin: 15px;
}

ul {
    margin-left: 0;
    padding-left: 0;
    vertical-align: auto;
}

input {
    margin: 13px;
}

.done {
    text-decoration: line-through;
}

#prompt-form {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    width: 300px;
    border: 1px solid black;
    background-color: white;
    vertical-align: middle;
}

.dialog-window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
}

.dialog-window:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}